{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}

{% block body %}

<div class = "row">
	<!--left column -->
	<div class = "span6">
		<h3>Submitted Sandwiches</h3>
		
		{% for sandwich in sandwiches %}
			<h4><a href="/sandwiches/{{sandwich.slug}}">{{sandwich.title}}</a></h4>
			<p>by {{sandwich.creator}}</p>
			<p>
			<!--below might need some debuggings -->
			{% for lover in sandwich.bread %} 
				<span class = "label label-inverse"><a href = "/sammie/{{lover}}">{{lover|replace("_"," ")}}</a></span>
			{% endfor %}
			<hr/>
		{% endfor %}
		
	</div>
	
	<div class = "span6">
		<form method="POST" action="/">
			<legend><h3>Share Your Sandwiches</h3></legend>
			
			{{ form.creator.label(class ="myLabelCssClass") }}
			{{ form.creator(class="myTextboxCssClass", type="textarea") }}
			{{ render_error(form.creator) }} {# render_error inside _form_helpers.html #}
			<!--
						<label for="creator">First Name</label>
						<input type="text" id="creator" name="creator" value="{{ form.creator }}">
						-->
						
			{{ form.title.label(class="myLabelCssClass") }}
			{{ form.title(class="myTextboxCssClass", type="textarea") }}
			{{ render_error(form.title) }} {# render_error inside _form_helpers.html #}
			<!--
						<label for="title">Project Title</label>
						<input type="text" id="title" name="title">
						-->
						
			{{ form.sandwich.label }}
			{{ render_textarea(form.sandwich, cols="50", rows="6") }}{# render_textarea inside _form_helpers.html #}
			{{ render_error(form.sandwich) }} {# render_error inside _form_helpers.html #}
			
			<br>
			<label>Sammie</label>
			<span class="help-block"> Select from here! </span>
			
			{# comment - loop through categories and create checkboxes #}
			{% for b in bread|sort %}
			<label class = "checkbox">
			<input type = "checkbox" name = "bread" value = "{{b|replace(" ", "-")}}" {% if b|replace(" ","_") in form.bread.data %}checked=checked{% endif %} > {{ b|title }}}>
			</label>
			{% endfor %}
			
			<button type = "submit" class = "btn btn-primary"> Add Sandwich </button>
		</form>
	</div>
	
</div>

{% endblock %}

{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}